// Variable overrides
$primary: #056fc7 !default;
$secondary: #7e7e7e !default;
$terciary: #40c557 !default;

$theme-colors: (
  "blue": rgb(5, 105, 199),
  "turquoise": rgb(5, 199, 141),
  "green": rgb(7, 221, 7),
  "gold": rgb(197, 194, 5),
);